<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Homepage</title>

  <link rel="canonical" href="https://getbootstrap.com/docs/5.2/examples/headers/">
  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  <link rel="stylesheet" href="css/sidebar-menu.css">
  <link rel="stylesheet" href="css/homepage.css">
  <link href="/docs/5.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">



</head>
<!-- style="overflow-x: hidden;" -->

<body style="overflow-x: hidden; overflow-y: hidden;">

  <main>
    <header class="p-3 text-bg-dark">
      <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
          <a href="#" class="d-block link-dark text-decoration-none " aria-expanded="false">
            <img src="" alt="mdo" width="100" height="50">
          </a>
          <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          </ul>
          <!-- <div  style="margin-right:1100px">
            <img class="logo" src="logo.png" alt="logo">
          </div> -->
          <div class="text-end">
            <a class="hide_UnderLine btn btn-outline-light me-2" href="/logout">Logout</a>
          </div>

        </div>
      </div>
    </header>
  </main>
  <div class="row">
    <div class="col-2">
      <!-- ########### column #1 ############## -->
      <!-- ######### Sidebar ############# -->
      <!-- overflow: auto -->
      <ul style="margin-top: 67px; " class="sidebar-menu vertical-menu">
        <li class="sidebar-header">
          <h3 style="color:white; margin-left:30px">Datasets</h3>
        </li>



        <li>

          <div style="margin-top: 0px;" class="box">
            <div style="height: 475px; overflow: auto ">
              <% newListItems.forEach(function(dataset) {%>
              <form action="/view" id="delete" method="post">
                <div class="item">

                  <!-- <a href="">
                  <p class="dataset"><%=dataset%>
                    <input type="hidden" name="view" value="<%=dataset%>" onclick="submit()">
                  </p>
                </a> -->

                  <i class="" aria-hidden="true">
                    <input type="checkbox" name="delete" class="btn btn-outline-danger deleteButton fa fa-trash" value="<%=dataset%>" onchange="submit()">
                  </i>
                  <button class="dsbtn info">
                    <%=dataset%>
                    <input type="hidden" name="view" class="btn btn-outline-danger deleteButton fa fa-trash" value="<%=dataset%>" onchange="submit()">
                  </button>
                </div>
              </form>
              <script>
                function submit() {
                  document.getElementById("delete").submit();
                }
              </script>
              <%})%>
            </div>
            <form action=" /create" class="create" enctype="multipart/form-data" method="post">
              <hr>
              <label for="formFile" class="form-label">Enter Dataset name</label>
              <input class="form-control form-control-sm" type="text" name="datasetName" placeholder="New Dataset" autocomplete="off" required>
              <div class="mb-3">
                <label for="formFile" class="form-label">Select CSV file</label>
                <input class="form-control" type="file" name="file" id="formFile" required>
              </div>
              <button type="submit" name="list" class="btn btn-primary">Create</button>
              <button type="submit" name="list" class="btn btn-primary">Update</button>

              <% if(msg != 'undefined'){ %>
              <div class="alert alert-success" id="alert" style="margin:15px;text-align:center;" role="alert">
                <%= msg %>
              </div>

              <script type="text/javascript">
                let alert = document.getElementById('alert')
                let time = 3000 // time in milliseconds
                alert.hidden = false // set img to hidden on load
                setTimeout(() => {
                  alert.hidden = true // after timeout show img
                }, time)
              </script>
              <% } %>

            </form>

          </div>

        </li>
    </div>
    </ul>

    <div class="col-10">
      <div class="row" style="margin-right:50px">
        <table class="table table-bordered table-dark" style="margin:20px;">
          <thead>
            <tr>
              <% if(tbl != undefined){ %>
              <% tbl.forEach(function(column) {%>
              <th scope="col" style="width: 100px"> <%= column%> </th>
              <%})%>
              <%}%>
            </tr>
          </thead>
        </table>
      </div>
      <div class="row">

      <div class="col-6 border" >
        <!-- style="border: 1px solid;" -->
    <!-- ########## population section column #2 ############# -->
    <% if(tbl != undefined){ %>
              <h3 style="text-align: center; margin:20px;">population</h3>
              <div class="container" style="margin:50px 0px 0 50px; align: center">

                <form class="" action="/filter" method="post">
                  <!-- aggregation function input -->
                  <div class="row" style="width:458px; margin-bottom:5px;">
                    <!-- ###### row number 2 ###### -->
                    <p>Add aggrigation function</p>
                    <select name="a[0]" style="width:100px; display:inline; margin-left:px;" class="form-select" aria-label="Default select example">
                      <option selected></option>
                      <option value="Pavg">Avg</option>
                      <option value="Psum">Sum</option>
                      <option value="Pcount">Count</option>
                    </select>
                    <select name="a[1]" style="width:100px; display:inline; margin-left:25px;" class="form-select" aria-label="Default select example">
                      <option selected></option>
                      <% tbl.forEach(function(column) {%>
                      <option><%= column%></option>
                      <%})%>
                    </select>
                    <select name="a[2]" style="width:100px;display:inline; margin-left:25px;" class="form-select" aria-label="Default select example">
                      <option selected></option>
                      <% tbl.forEach(function(column) {%>
                      <option><%= column%></option>
                      <%})%>
                    </select>
                  </div>
                  <!-- function name + apply button -->
                  <div class="row" style="width:458px; margin-bottom:5px;">
                    <!-- ###### row number 4 ###### -->
                    <input name="FunctionName" type="text" placeholder="Function name" style="width:200px" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                    <button type="submit" style="width:130px; margin-left:20px;" class="btn btn-outline-primary"> Add function </button>

                  </div>
                  <!-- Defining population -->
                  <div class="row" style="width:458px; margin-bottom:10px;">
                    <!-- ###### row number 6 ###### -->
                    <p>define your population</p>
                    <div class="row" style="width:458px; margin-bottom:5px;margin-bottom:5px;">
                      <select name="p[0]" style="width:100px; display:inline;" class="form-select" aria-label="Default select example">
                        <option selected></option>
                        <% tbl.forEach(function(column) {%>
                        <option><%= column%></option>
                        <%})%>
                      </select>

                      <select name="p[1]" style="width:100px; display:inline; margin-left:10px" class="form-select" aria-label="Default select example">
                        <option selected></option>
                        <option value="gt"> > </option>
                        <option value="lt">
                          < </option>
                        <option value="eq">=</option>
                        <option value="ne">!=</option>
                      </select>
                      <input name="p[2]" type="text" placeholder="Value" style="width:90px;margin-left:10px" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                    </div>
                    <div class="row" style="width:458px; margin-bottom:5px;margin-bottom:5px;">
                      <select name="p[3]" style="width:100px; display:inline; " class="form-select" aria-label="Default select example">
                        <option selected></option>
                        <option>AND</option>
                        <option>OR</option>
                      </select>
                    </div>
                    <select name="p[4]" style="width:100px; display:inline;" class="form-select" aria-label="Default select example">
                      <option selected></option>
                      <% tbl.forEach(function(column) {%>
                      <option><%= column%></option>
                      <%})%>
                    </select>

                    <select name="p[5]" style="width:100px; display:inline; margin-left:10px" class="form-select" aria-label="Default select example">
                      <option selected></option>
                      <option value="gt"> > </option>
                      <option value="lt">
                        < </option>
                      <option value="eq">=</option>
                      <option value="ne">!=</option>
                    </select>
                    <input name="p[6]" type="text" placeholder="Value" style="width:90px;margin-left:10px" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">

                  </div>
              </div>
      </div>

      <div class="col-6 border">
        <!-- style="border: 1px solid;" -->
        <!-- ########## query section column #3 ############# -->
        <h3 style="text-align: center; margin:50px;">query</h3>
        <div class="container" style="margin:100px">

          <div class="row" style="width:458px; margin-bottom:5px;">
            <!-- ###### row number 1 ###### -->
            <p>Write your query</p>
            <div class="container">
              <label style="color:grey; margin-left:-60px">X-Axis
                <select name="q1" style="width:100px; display:inline; " class="form-select" aria-label="Default select example">
                  <option style="color:grey" selected></option>
                  <% tbl.forEach(function(column) {%>
                  <option><%= column%></option>
                  <%})%>
                </select>
              </label>

              <label style="color:grey; margin-left:50px">Y-Axis
                <select name="q2" style="width:100px;display:inline; " class="form-select" aria-label="Default select example">
                  <option selected></option>
                  <% tbl.forEach(function(column) {%>
                  <option><%= column%></option>
                  <%})%>
                </select>

              </label>

            </div>

          </div>

          <div class="row" style="width:458px; margin-bottom:5px;">
            <!-- ###### row number 2 ###### -->
            <select name="q3" style="width:100px;display:inline;" class="form-select" aria-label="Default select example">
              <option selected></option>
              <option> Avg </option>
              <option> Count </option>
              <option> Sum </option>
              <option> Max </option>
              <option> Min </option>
            </select>
          </div>
          <div class="row" style="width:458px;">
            <!-- ###### row number 7 ###### -->
            <button type="submit" style="width:150px; margin-left:0px;" class="btn btn-outline-primary"> View Chart </button>
          </div>
          </form>
          <%}%>
      </div>
     </div>
    </div>
  </div>
  </div>
</body>

</html>